<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/table.css" type="text/css">
    <link rel="stylesheet" href="Styles/bootstrapiso.css" type="text/css">
    <title>NexHub Logistics</title>
</head>
<body style="min-width: 1500px;">
    <div class="bootstrap-iso">
        
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background: url(Pics/nextier_logo_white.svg)">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button >
              <a class="navbar-brand" href="/Home">NexTier NexHub Logistics</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li ><a href="/Active">Chassis Tracking</a></li>
                <li ><a href="/ActiveBox">Box Tracking</a></li>
                
                

                                    </div>
                             </div>
                        
        </nav>
    </div>
    <h1 style="color: darkgreen;">NexTier NexHub Logistics</h1>

    <div class="row no-gutter px-0" style="padding: 10px;">
    <div class="col-2 px-0">
        <h2>Chassis Tracking</h2>
        <a href='/Active'><img  style="min-width: 400px;" src="Pics/SandTruck.jfif" ></a>
    </div>
    <div class="col-2 px-0">
        <h2>Box Tracking</h2>
        <a href="/ActiveBox"><img  style="min-width: 400px;" src="Pics/SandBox.jfif" ></a>
    </div>
</div>

</body>
</html>

